.background-size-auto {
  background-size: auto;
}

.background-size-cover {
  background-size: cover;
}

.background-size-contain {
  background-size: contain;
}

.background-size-initial {
  background-size: initial;
}

.background-size-inherit {
  background-size: inherit;
}

.background-repeat-repeat {
  background-repeat: repeat;
}

.background-repeat-repeat-x {
  background-repeat: repeat-x;
}

.background-repeat-repeat-y {
  background-repeat: repeat-y;
}

.background-repeat-no-repeat {
  background-repeat: no-repeat;
}

.background-repeat-initial {
  background-repeat: initial;
}

.background-repeat-inherit {
  background-repeat: inherit;
}

.background-position-initial {
  background-position: initial;
}

.background-position-inherit {
  background-position: inherit;
}

.background-position-x-0 {
  background-position-x: 0%;
}

.background-position-x-10 {
  background-position-x: 10%;
}

.background-position-x-20 {
  background-position-x: 20%;
}

.background-position-x-25 {
  background-position-x: 25%;
}

.background-position-x-30 {
  background-position-x: 30%;
}

.background-position-x-40 {
  background-position-x: 40%;
}

.background-position-x-50 {
  background-position-x: 50%;
}

.background-position-x-60 {
  background-position-x: 60%;
}

.background-position-x-70 {
  background-position-x: 70%;
}

.background-position-x-75 {
  background-position-x: 75%;
}

.background-position-x-80 {
  background-position-x: 80%;
}

.background-position-x-90 {
  background-position-x: 90%;
}

.background-position-x-100 {
  background-position-x: 100%;
}

.background-position-x-left {
  background-position-x: left;
}

.background-position-x-right {
  background-position-x: right;
}

.background-position-x-center {
  background-position-x: center;
}

.background-position-y-0 {
  background-position-y: 0%;
}

.background-position-y-10 {
  background-position-y: 10%;
}

.background-position-y-20 {
  background-position-y: 20%;
}

.background-position-y-25 {
  background-position-y: 25%;
}

.background-position-y-30 {
  background-position-y: 30%;
}

.background-position-y-40 {
  background-position-y: 40%;
}

.background-position-y-50 {
  background-position-y: 50%;
}

.background-position-y-60 {
  background-position-y: 60%;
}

.background-position-y-70 {
  background-position-y: 70%;
}

.background-position-y-75 {
  background-position-y: 75%;
}

.background-position-y-80 {
  background-position-y: 80%;
}

.background-position-y-90 {
  background-position-y: 90%;
}

.background-position-y-100 {
  background-position-y: 100%;
}

.background-position-y-top {
  background-position-y: top;
}

.background-position-y-center {
  background-position-y: center;
}

.background-position-y-bottom {
  background-position-y: bottom;
}

.background-origin-padding-box {
  background-origin: padding-box;
}

.background-origin-border-box {
  background-origin: border-box;
}

.background-origin-content-box {
  background-origin: content-box;
}

.background-origin-initial {
  background-origin: initial;
}

.background-origin-inherit {
  background-origin: inherit;
}

.background-image-none {
  background-image: none;
}

.background-image-initial {
  background-image: initial;
}

.background-image-inherit {
  background-image: inherit;
}

.background-clip-padding-box {
  background-clip: padding-box;
}

.background-clip-border-box {
  background-clip: border-box;
}

.background-clip-content-box {
  background-clip: content-box;
}

.background-clip-initial {
  background-clip: initial;
}

.background-clip-inherit {
  background-clip: inherit;
}

.background-blend-normal {
  background-blend-mode: normal;
}

.background-blend-multiply {
  background-blend-mode: multiply;
}

.background-blend-screen {
  background-blend-mode: screen;
}

.background-blend-overlay {
  background-blend-mode: overlay;
}

.background-blend-darken {
  background-blend-mode: darken;
}

.background-blend-lighten {
  background-blend-mode: lighten;
}

.background-blend-color-dodge {
  background-blend-mode: color-dodge;
}

.background-blend-saturation {
  background-blend-mode: saturation;
}

.background-blend-color {
  background-blend-mode: color;
}

.background-blend-luminosity {
  background-blend-mode: luminosity;
}

.background-attachment-scroll {
  background-attachment: scroll;
}

.background-attachment-fixed {
  background-attachment: fixed;
}

.background-attachment-local {
  background-attachment: local;
}

.background-attachment-initial {
  background-attachment: initial;
}

.background-attachment-inherit {
  background-attachment: inherit;
}