.font-kerning-auto {
  font-kerning: auto;
}

.font-kerning-inherit {
  font-kerning: inherit;
}

.font-kerning-initial {
  font-kerning: initial;
}

.font-kerning-none {
  font-kerning: none;
}

.font-kerning-normal {
  font-kerning: normal;
}

.font-kerning-revert-layer {
  font-kerning: revert-layer;
}

.font-kerning-revert {
  font-kerning: revert;
}

.font-kerning-unset {
  font-kerning: unset;
}

.font-optical-sizing-auto {
  font-optical-sizing: auto;
}

.font-optical-sizing-inherit {
  font-optical-sizing: inherit;
}

.font-optical-sizing-initial {
  font-optical-sizing: initial;
}

.font-optical-sizing-none {
  font-optical-sizing: none;
}

.font-optical-sizing-revert-layer {
  font-optical-sizing: revert-layer;
}

.font-optical-sizing-revert {
  font-optical-sizing: revert;
}

.font-optical-sizing-unset {
  font-optical-sizing: unset;
}

.font-stretch-condensed {
  font-stretch: condensed;
}

.font-stretch-expanded {
  font-stretch: expanded;
}

.font-stretch-extra-condensed {
  font-stretch: extra-condensed;
}

.font-stretch-extra-expanded {
  font-stretch: extra-expanded;
}

.font-stretch-inherit {
  font-stretch: inherit;
}

.font-stretch-initial {
  font-stretch: initial;
}

.font-stretch-normal {
  font-stretch: normal;
}

.font-stretch-revert-layer {
  font-stretch: revert-layer;
}

.font-stretch-revert {
  font-stretch: revert;
}

.font-stretch-semi-condensed {
  font-stretch: semi-condensed;
}

.font-stretch-semi-expanded {
  font-stretch: semi-expanded;
}

.font-stretch-ultra-condensed {
  font-stretch: ultra-condensed;
}

.font-stretch-ultra-expanded {
  font-stretch: ultra-expanded;
}

.font-stretch-unset {
  font-stretch: unset;
}

.font-style-inherit {
  font-style: inherit;
}

.font-style-initial {
  font-style: initial;
}

.font-style-italic {
  font-style: italic;
}

.font-style-normal {
  font-style: normal;
}

.font-style-oblique {
  font-style: oblique;
}

.font-style-revert-layer {
  font-style: revert-layer;
}

.font-style-revert {
  font-style: revert;
}

.font-style-unset {
  font-style: unset;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-bolder {
  font-weight: bolder;
}

.font-weight-inherit {
  font-weight: inherit;
}

.font-weight-initial {
  font-weight: initial;
}

.font-weight-lighter {
  font-weight: lighter;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-revert-layer {
  font-weight: revert-layer;
}

.font-weight-revert {
  font-weight: revert;
}

.font-weight-unset {
  font-weight: unset;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.text-small {
  font-size: var(--text-small);
}

.text-medium {
  font-size: var(--text-medium);
}

.text-large {
  font-size: var(--text-large);
}

.text-extra-large {
  font-size: var(--text-extra-large);
}

.text-extra-extra-large {
  font-size: var(--text-extra-extra-large);
}

.line-height-small {
  line-height: var(--height-small);
}

.line-height-medium {
  line-height: var(--height-medium);
}

.line-height-large {
  line-height: var(--height-large);
}

.line-height-extra-large {
  line-height: var(--height-extra-large);
}

.line-height-extra-extra-large {
  line-height: var(--height-extra-extra-large);
}

.font-family-inherit {
  font-family: inherit;
}