.squeeze-0 {
  padding-left: var(--spacing-0);
  padding-right: var(--spacing-0);
}

.squeeze-2 {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}

.squeeze-4 {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.squeeze-8 {
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}

.squeeze-12 {
  padding-left: var(--spacing-12);
  padding-right: var(--spacing-12);
}

.squeeze-16 {
  padding-left: var(--spacing-16);
  padding-right: var(--spacing-16);
}

.squeeze-24 {
  padding-left: var(--spacing-24);
  padding-right: var(--spacing-24);
}

.squeeze-32 {
  padding-left: var(--spacing-32);
  padding-right: var(--spacing-32);
}

.squeeze-48 {
  padding-left: var(--spacing-48);
  padding-right: var(--spacing-48);
}

.squeeze-64 {
  padding-left: var(--spacing-64);
  padding-right: var(--spacing-64);
}

.squish-0 {
  padding-top: var(--spacing-0);
  padding-bottom: var(--spacing-0);
}

.squish-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}

.squish-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.squish-8 {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
}

.squish-12 {
  padding-top: var(--spacing-12);
  padding-bottom: var(--spacing-12);
}

.squish-16 {
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-16);
}

.squish-24 {
  padding-top: var(--spacing-24);
  padding-bottom: var(--spacing-24);
}

.squish-32 {
  padding-top: var(--spacing-32);
  padding-bottom: var(--spacing-32);
}

.squish-48 {
  padding-top: var(--spacing-48);
  padding-bottom: var(--spacing-48);
}

.squish-64 {
  padding-top: var(--spacing-64);
  padding-bottom: var(--spacing-64);
}