:root {
  --percentage-0: 0%;
  --percentage-10: 10%;
  --percentage-20: 20%;
  --percentage-25: 25%;
  --percentage-30: 30%;
  --percentage-40: 40%;
  --percentage-50: 50%;
  --percentage-60: 60%;
  --percentage-70: 70%;
  --percentage-75: 75%;
  --percentage-80: 80%;
  --percentage-90: 90%;
  --percentage-100: 100%;
  --spacing-0: 0;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --text-small: 0.85rem;
  --text-medium: 1rem;
  --text-large: 1.25rem;
  --text-extra-large: 1.5rem;
  --height-small: 1rem;
  --height-medium: 1.25rem;
  --height-large: 1.5rem;
  --height-extra-large: 1.75rem;
  --linear-width-0: 0px;
  --linear-width-1: 1px;
  --linear-width-2: 2px;
  --linear-width-3: 3px;
  --linear-width-5: 5px;
  --linear-width-8: 8px;
}