.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.text-align-inherit {
  text-align: inherit;
}

.text-align-initial {
  text-align: initial;
}

.text-align-justify-all {
  text-align: justify-all;
}

.text-align-justify {
  text-align: justify;
}

.text-align-left {
  text-align: left;
}

.text-align-match-parent {
  text-align: match-parent;
}

.text-align-revert {
  text-align: revert;
}

.text-align-right {
  text-align: right;
}

.text-align-start {
  text-align: start;
}

.text-align-unset {
  text-align: unset;
}

.text-align-last-auto {
  text-align-last: auto;
}

.text-align-last-center {
  text-align-last: center;
}

.text-align-last-end {
  text-align-last: end;
}

.text-align-last-inherit {
  text-align-last: inherit;
}

.text-align-last-initial {
  text-align-last: initial;
}

.text-align-last-justify {
  text-align-last: justify;
}

.text-align-last-left {
  text-align-last: left;
}

.text-align-last-revert {
  text-align-last: revert;
}

.text-align-last-right {
  text-align-last: right;
}

.text-align-last-start {
  text-align-last: start;
}

.text-align-last-unset {
  text-align-last: unset;
}

.text-decoration-line-blink {
  text-decoration-line: blink;
}

.text-decoration-line-inherit {
  text-decoration-line: inherit;
}

.text-decoration-line-initial {
  text-decoration-line: initial;
}

.text-decoration-line-line-through {
  text-decoration-line: line-through;
}

.text-decoration-line-none {
  text-decoration-line: none;
}

.text-decoration-line-overline {
  text-decoration-line: overline;
}

.text-decoration-line-revert {
  text-decoration-line: revert;
}

.text-decoration-line-underline {
  text-decoration-line: underline;
}

.text-decoration-line-unset {
  text-decoration-line: unset;
}

.text-decoration-skip-ink-all {
  text-decoration-skip-ink: all;
}

.text-decoration-skip-ink-auto {
  text-decoration-skip-ink: auto;
}

.text-decoration-skip-ink-inherit {
  text-decoration-skip-ink: inherit;
}

.text-decoration-skip-ink-initial {
  text-decoration-skip-ink: initial;
}

.text-decoration-skip-ink-none {
  text-decoration-skip-ink: none;
}

.text-decoration-skip-ink-revert-layer {
  text-decoration-skip-ink: revert-layer;
}

.text-decoration-skip-ink-revert {
  text-decoration-skip-ink: revert;
}

.text-decoration-skip-ink-unset {
  text-decoration-skip-ink: unset;
}

.text-decoration-style-dashed {
  text-decoration-style: dashed;
}

.text-decoration-style-dotted {
  text-decoration-style: dotted;
}

.text-decoration-style-double {
  text-decoration-style: double;
}

.text-decoration-style-inherit {
  text-decoration-style: inherit;
}

.text-decoration-style-initial {
  text-decoration-style: initial;
}

.text-decoration-style-revert-layer {
  text-decoration-style: revert-layer;
}

.text-decoration-style-revert {
  text-decoration-style: revert;
}

.text-decoration-style-solid {
  text-decoration-style: solid;
}

.text-decoration-style-unset {
  text-decoration-style: unset;
}

.text-decoration-style-wavy {
  text-decoration-style: wavy;
}

.text-emphasis-style-circle {
  text-emphasis-style: circle;
}

.text-emphasis-style-dot {
  text-emphasis-style: dot;
}

.text-emphasis-style-double-circle {
  text-emphasis-style: double-circle;
}

.text-emphasis-style-filled {
  text-emphasis-style: filled;
}

.text-emphasis-style-inherit {
  text-emphasis-style: inherit;
}

.text-emphasis-style-initial {
  text-emphasis-style: initial;
}

.text-emphasis-style-none {
  text-emphasis-style: none;
}

.text-emphasis-style-open {
  text-emphasis-style: open;
}

.text-emphasis-style-revert-layer {
  text-emphasis-style: revert-layer;
}

.text-emphasis-style-revert {
  text-emphasis-style: revert;
}

.text-emphasis-style-sesame {
  text-emphasis-style: sesame;
}

.text-emphasis-style-triangle {
  text-emphasis-style: triangle;
}

.text-emphasis-style-unset {
  text-emphasis-style: unset;
}

.text-justify-auto {
  text-justify: auto;
}

.text-justify-inherit {
  text-justify: inherit;
}

.text-justify-initial {
  text-justify: initial;
}

.text-justify-inter-character {
  text-justify: inter-character;
}

.text-justify-inter-word {
  text-justify: inter-word;
}

.text-justify-none {
  text-justify: none;
}

.text-justify-revert-layer {
  text-justify: revert-layer;
}

.text-justify-revert {
  text-justify: revert;
}

.text-justify-unset {
  text-justify: unset;
}

.text-orientation-inherit {
  text-orientation: inherit;
}

.text-orientation-initial {
  text-orientation: initial;
}

.text-orientation-mixed {
  text-orientation: mixed;
}

.text-orientation-revert-layer {
  text-orientation: revert-layer;
}

.text-orientation-revert {
  text-orientation: revert;
}

.text-orientation-sideways-right {
  text-orientation: sideways-right;
}

.text-orientation-sideways {
  text-orientation: sideways;
}

.text-orientation-unset {
  text-orientation: unset;
}

.text-orientation-upright {
  text-orientation: upright;
}

.text-orientation-use-glyph-orientation {
  text-orientation: use-glyph-orientation;
}

.text-overflow-clip {
  text-overflow: clip;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.text-overflow-inherit {
  text-overflow: inherit;
}

.text-overflow-initial {
  text-overflow: initial;
}

.text-overflow-revert-layer {
  text-overflow: revert-layer;
}

.text-overflow-revert {
  text-overflow: revert;
}

.text-overflow-unset {
  text-overflow: unset;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.text-transform-full-size-kana {
  text-transform: full-size-kana;
}

.text-transform-full-width {
  text-transform: full-width;
}

.text-transform-inherit {
  text-transform: inherit;
}

.text-transform-initial {
  text-transform: initial;
}

.text-transform-lowercase {
  text-transform: lowercase;
}

.text-transform-none {
  text-transform: none;
}

.text-transform-revert-layer {
  text-transform: revert-layer;
}

.text-transform-revert {
  text-transform: revert;
}

.text-transform-unset {
  text-transform: unset;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-underline-position-auto {
  text-underline-position: auto;
}

.text-underline-position-inherit {
  text-underline-position: inherit;
}

.text-underline-position-initial {
  text-underline-position: initial;
}

.text-underline-position-left {
  text-underline-position: left;
}

.text-underline-position-revert-layer {
  text-underline-position: revert-layer;
}

.text-underline-position-revert {
  text-underline-position: revert;
}

.text-underline-position-right {
  text-underline-position: right;
}

.text-underline-position-under {
  text-underline-position: under;
}

.text-underline-position-unset {
  text-underline-position: unset;
}

.white-space-break-space {
  white-space: break-space;
}

.white-space-inherit {
  white-space: inherit;
}

.white-space-initial {
  white-space: initial;
}

.white-space-normal {
  white-space: normal;
}

.white-space-nowrap {
  white-space: nowrap;
}

.white-space-pre-line {
  white-space: pre-line;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.white-space-pre {
  white-space: pre;
}

.white-space-revert-layer {
  white-space: revert-layer;
}

.white-space-revert {
  white-space: revert;
}

.white-space-unset {
  white-space: unset;
}