html.mobile {
  font-size: 14px;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-size: var(--text-medium);
  line-height: var(--height-medium);
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

button:focus:not(:focus-visible) {
	outline: none;
}

fieldset {
	border: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	text-align: left;
}

hr {
  border: 0;
  border-top: 1px solid #efefef;
}

img {
  max-width: 100%;
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: var(--height-large);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

fieldset {
  border: none;
}

input[type="file"],
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  box-sizing: border-box;
}

input[type="file"] {
  display: inline-block;
  font-size: var(--text-small);
  margin-right: var(--spacing-8);
  min-width: 100px;
  padding: var(--spacing-8);
  z-index: +1;
}
